alias mkdir='mkdir -p -v'
alias grep='grep --color=auto'
alias vi='vim'
alias svim='sudoedit'
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias ls='ls -hAF --color=auto'
alias ll='ls -lp --group-directories-first'
