alias mkdir='mkdir -p -v'
alias grep='grep --color=auto'
alias vi='vim'
alias svim='sudoedit'
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias ls='ls -hAF --color=auto'
alias ll='ls -lp --group-directories-first'
alias tmux='TERM=screen-256color tmux'
alias muxenv='eval $(tmux showenv -s)'
alias xphp='php -dzend_extension=xdebug.so -dxdebug.remote_autostart=1 -dxdebug.remote_enable=1 -dxdebug.remote_mode=req -dxdebug.remote_port=9000 -dxdebug.remote_host=127.0.0.1 -dxdebug.remote_connect_back=0'

paste() {
    tail -n +1 -- "$@" | curl --data-binary "@-" https://paste.robbast.nl
}

man() {
    LESS_TERMCAP_md=$'\e[01;36m' \
    LESS_TERMCAP_me=$'\e[0m' \
    LESS_TERMCAP_se=$'\e[0m' \
    LESS_TERMCAP_so=$'\e[01;44;33m' \
    LESS_TERMCAP_ue=$'\e[0m' \
    LESS_TERMCAP_us=$'\e[01;32m' \
    command man "$@"
}
