#
# Personal export definitions.
#

# Default PATH.
PATH="/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin"

# Create an array of directories to check.
directories=(
    "${HOME}/bin"
    "/usr/local/opt/coreutils/libexec/gnubin"
    "/usr/local/opt/gnu-tar/libexec/gnubin"
    "/usr/local/opt/gnu-sed/libexec/gnubin"
)

# Add global composer bin directory to array.
if command -v composer >/dev/null 2>&1; then
    directories+=(
        "$(composer global config bin-dir --absolute 2>/dev/null)"
    )
fi

# Check array and prefix existing directories to path.
for dir in "${directories[@]}"; do
    [[ -d "$dir" ]] && PATH="$dir:$PATH"
done

export PATH="$PATH"

# Some other defaults
export CLICOLOR=1
export HISTCONTROL=ignoreboth
export HISTIGNORE='cd:l[sla]:[bf]g:pwd:clear:history'
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export EDITOR='vim -p -X'
export VISUAL=${EDITOR}
export GIT_EDITOR=${EDITOR}
