#
# Personal export definitions.
#

# Default PATH.
PATH="/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin"
# Add ~/bin.
[[ -d "${HOME}/bin" ]] && PATH="${HOME}/bin:${PATH}"
# Add Composer's global bin directory.
[[ -d "${HOME}/.composer/vendor/bin" ]] && PATH="${HOME}/.composer/vendor/bin:${PATH}"
# Add gnubin of some Homebrew packages.
[[ -d "/usr/local/opt/coreutils/libexec/gnubin" ]] && PATH="/usr/local/opt/coreutils/libexec/gnubin:${PATH}"
[[ -s "/usr/local/opt/gnu-tar/libexec/gnubin" ]] && PATH="/usr/local/opt/gnu-tar/libexec/gnubin:$PATH"
[[ -s "/usr/local/opt/gnu-sed/libexec/gnubin" ]] && PATH="/usr/local/opt/gnu-sed/libexec/gnubin:$PATH"

export PATH="$PATH"
export CLICOLOR=1
export HISTCONTROL=ignoreboth
export HISTIGNORE='l[sla]:[bf]g:pwd:clear:history'
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export EDITOR='vim -p -X'
export VISUAL=${EDITOR}
export GIT_EDITOR=${EDITOR}
