#
# Personal export definitions.
#

# Default PATH.
declare -x PATH="/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin"

# Homebrew directories to check.
directories=(
    "/usr/local/opt/coreutils/libexec/gnubin"
    "/usr/local/opt/gnu-tar/libexec/gnubin"
    "/usr/local/opt/gnu-sed/libexec/gnubin"
)

# Other directories to check.
[[ -d $HOME ]] && directories+=("${HOME}/bin")

# Extend PATH.
for dir in "${directories[@]}"; do [[ -d "$dir" ]] && PATH="$dir:$PATH"; done

# Check if Composer is available, and if so, add global Composer bin directory.
# [!] Order here is important since `command` uses $PATH to check for existence.
if command -v composer >/dev/null 2>&1; then
    PATH="$(composer global config bin-dir --absolute 2>/dev/null):$PATH"
fi

# Check if keychain is available, and if so, run it through eval to export
# the environment variables SSH_AUTH_SOCK and SSH_AGENT_PID.
if command -v keychain >/dev/null 2>&1; then
    [[ -f "${HOME}/.ssh/id_rsa" ]] && eval `keychain --quiet --agents ssh --eval id_rsa`
fi

# Some other defaults
export CLICOLOR=1
export HISTCONTROL=ignoreboth
export HISTIGNORE='cd:l[sla]:[bf]g:pwd:clear:history'
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export EDITOR='vim -p -X'
export VISUAL=${EDITOR}
export GIT_EDITOR=${EDITOR}
