[core]
autocrlf = false
editor = vim
excludesfile = ~/.gitignore.global
filemode = false
pager = less -FQXS --

[color]
diff = auto
branch = auto
status = auto
ui = true

[apply]
whitespace = warn

[branch]
autosetupmerge = true

[pull]
rebase = true

[push]
default = simple

[merge]
log = true
stat = true
verbosity = 1
defaultToUpstream = true

[rebase]
autosquash = true

[diff]
renames = copies
renamelimit = 0
mnemonicprefix = true
tool = vimdiff

[difftool]
prompt = false

[rerere]
enabled = true
autoupdate = true

[help]
autocorrect = 15

[include]
path = ~/.gitconfig.local

[alias]
l = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
sp = !git stash && git pull --rebase && git stash pop
p = !git pull --rebase
co = checkout
ci = commit
br = branch
ls-ignored = ls-files --exclude-standard --ignored --others
