# start by ignoring everything
*

# add exceptions to some files/directories
!.aliases
!.bash_login
!.bash_logout
!.bash_profile
!.bash_prompt
!.bashrc
!.exports
!.gitconfig
!.gitignore
!.gitignore.global
!.inputrc
!.profile
!.tmux.conf
!.vimrc
!.zshrc
