# start by ignoring everything
*

# add exceptions to some files/directories
!.tmux/
!.tmux/**
!.vim/
!.vim/vimrc
!.bashrc.d/
!.bashrc.d/**
!.bash_login
!.bash_logout
!.bash_profile
!.bashrc
!.gitconfig
!.gitignore
!.gitignore.global
!.inputrc
!.profile
!.tmux.conf
