dht.mode.set = on
dht.port.set = 55100
directory.default.set = /mnt/btrfs/downloads/rtorrent
network.local_address.set = robbast.casa
network.port_random.set = yes
network.port_range.set = 55101-55200
pieces.hash.on_completion.set = no
protocol.encryption.set = allow_incoming,try_outgoing,enable_retry
protocol.pex.set = yes
session.path.set = /home/rob/.cache/rtorrent/session
throttle.max_peers.normal.set = 60
throttle.max_peers.seed.set = 80
throttle.max_uploads.global.set = 250
throttle.max_uploads.set = 100
throttle.min_peers.normal.set = 20
throttle.min_peers.seed.set = 30
trackers.numwant.set = 80
trackers.use_udp.set = yes
ui.torrent_list.layout.set = full
