directory.default.set = /mnt/btrfs/downloads/rtorrent
session.path.set = ~/.cache/rtorrent/session
pieces.hash.on_completion.set = no
ui.torrent_list.layout.set = full
network.local_address.set = robbast.casa

# Listening port(s) for incomming traffic
network.port_range.set = 55101-55200
network.port_random.set = yes
dht.port.set = 55100

# Tracker-less torrent and UDP tracker support
dht.mode.set = on
protocol.pex.set = yes
trackers.use_udp.set = yes

# Peer settings
throttle.max_peers.normal.set = 60
throttle.max_peers.seed.set = 80
throttle.max_uploads.global.set = 250
throttle.max_uploads.set = 100
throttle.min_peers.normal.set = 20
throttle.min_peers.seed.set = 30
trackers.numwant.set = 80
protocol.encryption.set = allow_incoming,try_outgoing,enable_retry
